<fieldset>
  <legend>Input</legend>
  <form name="form" action="hex" method="post">     <!--  Parameter? -->
    <p>Enter the text or hex you want to convert:</p>
    <label title="Paste the text or hex to transform here">
      <textarea rows="10" cols="60" name="input" class="input"><%= defined?(input) ? input : "" %></textarea>
    </label>
    <br/>
    <label title="Text pasted in the textarea will be converted to hex digits">
      <input type="submit" name="process" value="Text to Hex"/>
    </label>
    <label title="Hex digits pasted into the textarea will converted to text">
      <input type="submit" name="process" value="Hex to Text"/>
    </label>
  </form>
</fieldset>
<% if defined? output %>
  <fieldset class="cryptarea">
    <legend>Output</legend>
    <p>Result:</p>
    <label title="This is the result of the conversion selected above">
      <textarea cols="60" rows="10"><%= output %></textarea>                    
    </label>
  </fieldset>
<% end %>
