%div#alltools
  %fieldset
    %legend Ciphers/Coding
    %ul
      %li
        %a{href: "base64"} Base64 Encoding
      %li
        %a{href: "urlencode"} URL Encoding
      %li
        %a{href: "websphere"} IBM XOR Password Encoding/Decoding (WebSphere)
      %li
        %a{href: "stashfile"} IBM Stash File Decoding
  %br
  %fieldset
    %legend Hashes
    %ul
      %li
        %a{href: "md5sum"} MD5 Message Digest
      %li
        %a{href: "sha1sum"} SHA1 Hash
  %br
  %fieldset
    %legend Other Tools
    %ul
      %li
        %a{href: "hex"} Text/Hex Conversion
      %li
        %a{href: "x509"} X.509 PEM Certificate Decoding
      %li
        %a{href: "samlrr"} SAML Request/Response decoding
