    <div id="alltools">
      <fieldset>
        <legend>Ciphers/Coding</legend>
        <ul>
          <li><a href="base64">Base64 Encoding</a></li>
          <li><a href="urlencode">URL Encoding</a></li>
          <li><a href="websphere">IBM XOR Password Encoding/Decoding (WebSphere)</a></li>
        </ul>
      </fieldset>
      <br/>
      <fieldset>
        <legend>Hashes</legend>
        <ul>
          <li><a href="md5sum">MD5 Message Digest</a></li>
          <li><a href="sha1sum">SHA1 Hash</a></li>
        </ul>
      </fieldset>
      <br/>
      <fieldset>
        <legend>Other Tools</legend>
        <ul>
          <li><a href="hex">Text/Hex Conversion</a></li>
          <li><a href="x509">X.509 PEM Certificate Decoding</a></li>
          <li><a href="samlrr">SAML Request/Response decoding</a></li>
        </ul>
      </fieldset>
    </div>

