!!! XML
!!!
%html
  %head
    %title CryptoTools
    %link{rel: "stylesheet", type: "text/css", href: "style.css"}
  %body
    .title
      %a.indexlink{href: "."} [back to index]
      %p= title
    #content= yield
