<fieldset>
  <legend>Input</legend>
  <form name="form" action="sha1sum" method="post">     <!--  Parameter? -->
    <p>Enter the text you want to hash with SHA1:</p>
    <label title="Paste the text to hash here">
      <textarea rows="10" cols="60" name="input" class="input"><%= defined?(input) ? input : "" %></textarea>
    </label>
    <br/>
    <label title="Hash the text using SHA1">
      <input type="submit" name="submit" value="Encode"/>
    </label>
  </form>
</fieldset>
<% if defined? output %>
  <fieldset class="cryptarea">
    <legend>Output</legend>
    <p>SHA1-hashed output in hex:</p>
    <label title="This is the result of hashing the input with SHA1, in hex">
      <textarea cols="60" rows="10"><%= output %></textarea>                    
    </label>
  </fieldset>
<% end %>
