<fieldset>
  <legend>Input</legend>
  <form name="form" action="stashfile" method="post">
    <p>Enter the Base64-encoded stash file here.</p>
    <p><em>Hint:  To get the Base64-encoded version of this file in AIX, enter the command <tt>uuencode -m pdsrv.sth /dev/stdout</tt>, where <tt>pdsrv.sth</tt> is the name of the stash file.  In Linux, use <tt>base64 pdsrv.sth</tt>.</em></p>
    <label title="Paste the Base64-encoded stash file here">
      <textarea rows="10" cols="60" name="input" class="input"><%= defined?(input) ? input : "" %></textarea>
    </label>
    <br/>
    <label title="A Base64-encoded stash file pasted in the textarea will be decoded">
      <input type="submit" name="process" value="Decode"/>
    </label>
  </form>
</fieldset>
<% if defined? output %>
  <fieldset class="cryptarea">
    <legend>Output</legend>
    <p>Result:</p>
    <label title="This is the result of decoding the input">
      <textarea cols="60" rows="10"><%= output %></textarea>
    </label>
  </fieldset>
<% end %>
