<fieldset>
  <legend>Input</legend>
  <form name="form" action="websphere" method="post">     <!--  Parameter? -->
    <p>Enter the WebSphere password you want to encode or decode (if decoding, it should look like <tt>{xor}crypttext</tt>, but the <tt>{xor}</tt> itself is optional):</p>
    <label title="Paste the password here">
      <textarea rows="10" cols="60" name="input" class="input"><%= defined?(input) ? input : "" %></textarea>
    </label>
    <br/>
    <label title="Encode the password into WebSphere's format">
      <input type="submit" name="process" value="Encode"/>
    </label>
    <label title="Decode the WebSphere-formatted password">
      <input type="submit" name="process" value="Decode"/>
    </label>
  </form>
</fieldset>
<% if defined? output %>
  <fieldset class="cryptarea">
    <legend>Output</legend>
    <p>Result:</p>
    <label title="This is the result of the conversion selected above">
      <textarea cols="60" rows="10"><%= output %></textarea>                    
    </label>
  </fieldset>
<% end %>
